# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Ignore config files
**/config/local.*
**/config/local-*

data/old-products.json
.cursor/rules/*

/.idea
**/__poc__*
temporal.db

*.generated.ts
.aider*

apps/server/scripts/import-koc-csv.ts
apps/server/data/koc.csv
*.p8
.claude
.serena
